.vector-icon4 {
  position: relative;
  width: 88.17px;
  height: 33.81px;
}
.archive2 {
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: 500;
  display: inline-block;
  width: 167px;
  height: 53px;
}
.about-us5 {
  position: absolute;
  top: 0px;
  left: 452px;
  font-weight: 500;
  display: inline-block;
  width: 165px;
  cursor: pointer;
}
.submit6 {
  position: absolute;
  top: 0px;
  left: 902px;
  font-weight: 500;
  display: inline-block;
  width: 166px;
  cursor: pointer;
}
.nav-bar2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.alll-nav-bar-inner {
  position: relative;
  width: 1070px;
  height: 5.01px;
}
.alll-nav-bar2 {
  align-self: stretch;
  height: 109.82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  font-size: var(--font-size-31xl);
}
.about-us7 {
  position: absolute;
  top: 201px;
  left: 0px;
  font-weight: 900;
  display: inline-block;
  width: 201px;
  height: 73px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.lorem-ipsum-dolor1 {
  position: absolute;
  top: 0px;
  left: 90px;
  font-size: var(--font-size-xl);
  text-align: left;
  display: inline-block;
  width: 615px;
  height: 201px;
}
.vision {
  position: relative;
  width: 707px;
  height: 201px;
}
.team-member-1-child {
  position: relative;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.nome-cognome {
  position: relative;
  font-weight: 900;
}
.titolo-titolo {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 300;
  margin-top: -6px;
}
.frame1 {
  width: 154px;
  height: 55px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: -8px;
}
.team-member-1 {
  position: absolute;
  top: 0px;
  left: -14px;
  width: 205px;
  height: 147px;
  display: flex;
  flex-direction: column;
  padding: 0px var(--padding-32xl) 0px 0px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.team-member-2 {
  position: absolute;
  top: 0px;
  left: 166px;
  width: 205px;
  height: 147px;
  display: flex;
  flex-direction: column;
  padding: 0px var(--padding-32xl) 0px 0px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.team-member-3 {
  position: absolute;
  top: 0px;
  left: 346px;
  width: 205px;
  height: 147px;
  display: flex;
  flex-direction: column;
  padding: 0px var(--padding-32xl) 0px 0px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.team-member-4-child {
  position: relative;
  border-radius: 50%;
  background-color: #125e8a;
  width: 100px;
  height: 100px;
}
.team-member-4 {
  position: absolute;
  top: 0px;
  left: 526px;
  width: 205px;
  height: 147px;
  display: flex;
  flex-direction: column;
  padding: 0px var(--padding-32xl) 0px 0px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.team-members {
  position: relative;
  width: 696px;
  height: 168px;
  overflow-x: auto;
  flex-shrink: 0;
}
.team {
  width: 702px;
  height: 189px;
  overflow-y: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame {
  position: absolute;
  top: 255.77px;
  left: 0px;
  width: 703.5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.the-archive {
  position: relative;
  font-weight: 900;
  display: inline-block;
  width: 201px;
  height: 73px;
  flex-shrink: 0;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.lorem-ipsum-dolor3 {
  margin: 0;
}
.lorem-ipsum-dolor-container {
  position: absolute;
  top: -1px;
  left: 0px;
  display: inline-block;
  width: 615px;
  height: 201px;
}
.lorem-ipsum-dolor-sit-amet-co-wrapper {
  position: undefined;
  width: 615px;
  height: 200px;
  overflow-y: auto;
  flex-shrink: 0;
  margin-left: 90px;
  text-align: left;
  font-size: var(--font-size-xl);
}
.frame5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 705px;
  height: 201px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 1px 504px 0px 0px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-40xl);
}
.archive3 {
  position: relative;
  width: 707px;
  height: 201px;
  font-size: var(--font-size-6xl);
}
.about-us-child {
  position: relative;
  width: 707px;
  height: 225px;
  overflow: hidden;
  flex-shrink: 0;
}
.vector-icon5 {
  position: relative;
  width: 88.17px;
  height: 33.81px;
  z-index: 0;
}
.about-us8 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 75px;
  height: 36px;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.submit7 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 75px;
  height: 36px;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 2;
}
.instagram2 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 75px;
  height: 36px;
  flex-shrink: 0;
  z-index: 3;
}
.linkedin2 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 75px;
  height: 36px;
  flex-shrink: 0;
  z-index: 4;
}
.email-us2 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 75px;
  height: 36px;
  flex-shrink: 0;
  z-index: 5;
}
.news4 {
  position: relative;
  border-radius: var(--br-81xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 436px;
  height: 31px;
  z-index: 6;
}
.news5 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 14.78px);
  left: calc(50% + 389.5px);
  border-radius: var(--br-81xl);
  background-color: var(--color-steelblue-100);
  width: 124px;
  height: 30px;
  z-index: 7;
}
.insert-email-to2 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 14.78px);
  left: calc(50% + 83.5px);
  font-weight: 300;
  color: var(--color-gray);
  display: inline-block;
  width: 295px;
  height: 22.5px;
  flex-shrink: 0;
  z-index: 8;
}
.submit8 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 14.78px);
  left: calc(50% + 388.5px);
  font-weight: 300;
  display: inline-block;
  width: 125px;
  height: 30px;
  flex-shrink: 0;
  z-index: 9;
}
.bottompage2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-3xl);
  font-size: var(--font-size-xl);
}
.about-us4 {
  position: relative;
  background-color: var(--color-gainsboro);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-11xl) var(--padding-167xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-40xl);
  color: var(--color-black);
  font-family: var(--font-darker-grotesque);
}
