.vector-icon4 {
  position: absolute;
  top: 0;
  left: 489.92px;
  width: 88.17px;
  height: 33.81px;
}
.about-us5,
.archive2,
.submit6 {
  position: absolute;
  top: 0;
  font-weight: 500;
  display: inline-block;
}
.archive2 {
  left: 0;
  width: 167px;
  height: 53px;
  cursor: pointer;
}
.about-us5,
.submit6 {
  left: 452px;
  width: 165px;
}
.submit6 {
  left: 902px;
  width: 166px;
  cursor: pointer;
}
.nav-bar2 {
  position: absolute;
  top: 37.81px;
  left: 0;
  width: 1068px;
  height: 68px;
}
.alll-nav-bar-inner {
  position: absolute;
  top: 107.31px;
  left: -1px;
  width: 1070px;
  height: 5.01px;
}
.alll-nav-bar2 {
  position: relative;
  width: 1068px;
  height: 109.82px;
  font-size: var(--font-size-31xl);
}
.about-us7,
.lorem-ipsum-dolor1 {
  position: absolute;
  display: inline-block;
}
.about-us7 {
  top: 201px;
  left: 0;
  font-weight: 900;
  width: 201px;
  height: 73px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.lorem-ipsum-dolor1 {
  top: 0;
  left: 90px;
  font-size: var(--font-size-xl);
  text-align: left;
  width: 615px;
  height: 201px;
}
.vision {
  position: relative;
  width: 705px;
  height: 201px;
}
.team-member-1-child {
  position: absolute;
  top: 0;
  left: 27px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.nome-cognome,
.titolo-titolo {
  position: absolute;
  top: 92px;
  left: 0;
  font-weight: 900;
}
.titolo-titolo {
  top: 120px;
  left: 41px;
  font-size: var(--font-size-xl);
  font-weight: 300;
}
.team-member-1 {
  position: absolute;
  top: 0;
  left: -14px;
  width: 205px;
  height: 147px;
}
.team-member-2,
.team-member-3,
.team-member-4-child {
  position: absolute;
  top: 0;
  left: 166px;
  width: 205px;
  height: 147px;
}
.team-member-3,
.team-member-4-child {
  left: 346px;
}
.team-member-4-child {
  left: 27px;
  border-radius: 50%;
  background-color: #125e8a;
  width: 100px;
  height: 100px;
}
.team-member-4 {
  position: absolute;
  top: 0;
  left: 526px;
  width: 205px;
  height: 147px;
}
.team,
.team-members {
  position: absolute;
  left: calc(50% - 351px);
}
.team-members {
  top: 0;
  width: 696px;
  height: 168px;
  overflow-x: auto;
}
.team {
  top: 255.77px;
  width: 702px;
  height: 189px;
  overflow-y: auto;
}
.the-archive {
  position: absolute;
  top: 201px;
  left: 0;
  font-size: var(--font-size-40xl);
  font-weight: 900;
  display: inline-block;
  width: 201px;
  height: 73px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.lorem-ipsum-dolor3 {
  margin: 0;
}
.lorem-ipsum-dolor-container {
  position: absolute;
  top: -1px;
  left: 0;
  display: inline-block;
  width: 615px;
  height: 201px;
}
.lorem-ipsum-dolor-sit-amet-co-wrapper {
  position: absolute;
  top: 1px;
  left: 90px;
  width: 615px;
  height: 200px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-xl);
}
.archive3 {
  position: relative;
  width: 705px;
  height: 201px;
  font-size: var(--font-size-6xl);
}
.about-us-child {
  position: relative;
  width: 702px;
  height: 225px;
  overflow: hidden;
  flex-shrink: 0;
}
.vector-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 88.17px;
  height: 33.81px;
}
.about-us8 {
  left: 142.58px;
}
.about-us8,
.email-us2,
.instagram2,
.linkedin2,
.submit7 {
  position: absolute;
  top: 6.22px;
  font-weight: 300;
  display: inline-block;
  width: 75px;
  height: 36px;
}
.submit7 {
  left: 232.58px;
  cursor: pointer;
}
.email-us2,
.instagram2,
.linkedin2 {
  left: 322.58px;
}
.email-us2,
.linkedin2 {
  left: 412.58px;
}
.email-us2 {
  left: 502.58px;
}
.news4,
.news5 {
  position: absolute;
  border-radius: var(--br-81xl);
}
.news4 {
  top: calc(50% - 14.89px);
  left: calc(50% + 389.79px);
  background-color: var(--color-steelblue-100);
  width: 124px;
  height: 30px;
}
.news5 {
  top: calc(50% - 15.39px);
  left: calc(50% + 78.29px);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 436px;
  height: 31px;
}
.insert-email-to2,
.submit8 {
  position: absolute;
  top: calc(50% - 14.89px);
  font-weight: 300;
  display: inline-block;
}
.insert-email-to2 {
  left: calc(50% + 83.79px);
  color: var(--color-gray);
  width: 295px;
  height: 22.5px;
}
.submit8 {
  left: calc(50% + 388.79px);
  width: 125px;
  height: 30px;
}
.bottompage2 {
  position: relative;
  width: 1027.58px;
  height: 42.22px;
  font-size: var(--font-size-xl);
}
.about-us4 {
  position: relative;
  background-color: var(--color-gainsboro);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-11xl) var(--padding-167xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-40xl);
  color: var(--color-black);
  font-family: var(--font-darker-grotesque);
}
