body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-darker-grotesque: "Darker Grotesque";

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-40xl: 59px;
  --font-size-6xl: 25px;
  --font-size-31xl: 50px;

  /* Colors */
  --color-gainsboro: #d9d9d9;
  --color-black: #000;
  --color-gray: rgba(0, 0, 0, 0.5);
  --color-steelblue-100: #208aae;

  /* Gaps */
  --gap-3xl: 22px;
  --gap-9xs: 4px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-11xl: 30px;
  --padding-167xl: 186px;

  /* Border radiuses */
  --br-81xl: 100px;
}
